<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830170404680-6rlhpejc3sv7jiv06pdh8odul0rgfpdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830170404680-6rlhpejc3sv7jiv06pdh8odul0rgfpdt</string>
	<key>API_KEY</key>
	<string>AIzaSyDzUsbeO6w01c0ukCmpYPTiI4FfWfl_woQ</string>
	<key>GCM_SENDER_ID</key>
	<string>830170404680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CMU.SpotiFriends</string>
	<key>PROJECT_ID</key>
	<string>spotifriends-30026</string>
	<key>STORAGE_BUCKET</key>
	<string>spotifriends-30026.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830170404680:ios:290c05fdae28d5f606c57d</string>
</dict>
</plist>